NEXT_PUBLIC_SOROSWAP_APP_URL=https://app.soroswap.finance

#Mercury MAINNET
MERCURY_EMAIL_MAINNET=
MERCURY_PASSWORD_MAINNET=
MERCURY_BACKEND_ENDPOINT_MAINNET=https://mainnet.mercurydata.app/
MERCURY_GRAPHQL_ENDPOINT_MAINNET=https://mainnet.mercurydata.app:2083

#Mercury TESTNET
MERCURY_EMAIL_TESTNET=
MERCURY_PASSWORD_TESTNET=
MERCURY_BACKEND_ENDPOINT_TESTNET=https://api.mercurydata.app:8443
MERCURY_GRAPHQL_ENDPOINT_TESTNET=https://api.mercurydata.app:2083

